flows.json
[
    {
        "id": "0fac4a1004299801",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "575eab1ba8592c5e",
        "type": "ui_switch",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Avize 1 anahtar",
        "tooltip": "",
        "group": "eab0440bee638c40",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 40,
        "wires": [
            [
                "e63e99080a42e4cb"
            ]
        ]
    },
    {
        "id": "0dcd24b1c5cbae9f",
        "type": "ui_switch",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Avize 2 Anahtar",
        "tooltip": "",
        "group": "eab0440bee638c40",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "dd5f64ee59275596"
            ]
        ]
    },
    {
        "id": "817fdb20ad5458d6",
        "type": "ui_slider",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Lambader Anahtar",
        "tooltip": "",
        "group": "eab0440bee638c40",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "8b01473fa6c36af1"
            ]
        ]
    },
    {
        "id": "b078f861c3312dc5",
        "type": "ui_switch",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Avize 1 Anahtar",
        "tooltip": "",
        "group": "8e18797ccc06bab1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 980,
        "y": 340,
        "wires": [
            [
                "ed337705940e56cf"
            ]
        ]
    },
    {
        "id": "e51151a8f654ece6",
        "type": "ui_switch",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Avize 2 Anahtar",
        "tooltip": "",
        "group": "8e18797ccc06bab1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 980,
        "y": 400,
        "wires": [
            [
                "151a7be894124b6d"
            ]
        ]
    },
    {
        "id": "b64a178eb4c45469",
        "type": "ui_slider",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Lambader Anahtar",
        "tooltip": "",
        "group": "8e18797ccc06bab1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "a88849e76ee10e80"
            ]
        ]
    },
    {
        "id": "4c2d1da2209452d1",
        "type": "ui_colour_picker",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "",
        "group": "8e18797ccc06bab1",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 970,
        "y": 520,
        "wires": [
            [
                "47248b059ec9768a"
            ]
        ]
    },
    {
        "id": "e63e99080a42e4cb",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/3",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 1",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 650,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5f64ee59275596",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/4",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 2",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8b01473fa6c36af1",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/5",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Lambader",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 660,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ed337705940e56cf",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/6",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 1",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 1190,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "151a7be894124b6d",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/6",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 2",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 1190,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a88849e76ee10e80",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/8",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Lambader",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 1200,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "47248b059ec9768a",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/9",
        "outputtopic": "",
        "dpt": "232.600",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "color picker",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 1200,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "788238758b967272",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/3",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 1 Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "575eab1ba8592c5e",
                "133a1669768f9de1"
            ]
        ]
    },
    {
        "id": "d789f203ff4b74ee",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/4",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 2 Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "0dcd24b1c5cbae9f"
            ]
        ]
    },
    {
        "id": "7f24ddb8531414b8",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/5",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Lambader Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "817fdb20ad5458d6"
            ]
        ]
    },
    {
        "id": "052e7d7e5e2e3689",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/6",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 1 Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "b078f861c3312dc5"
            ]
        ]
    },
    {
        "id": "a4b0028ab81dc877",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/7",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 2 Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "e51151a8f654ece6"
            ]
        ]
    },
    {
        "id": "a512b78990217c48",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/8",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Lambader Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "b64a178eb4c45469"
            ]
        ]
    },
    {
        "id": "c96c18c71514e3f9",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/9",
        "outputtopic": "",
        "dpt": "232.600",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "color picker Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 700,
        "y": 520,
        "wires": [
            [
                "4c2d1da2209452d1"
            ]
        ]
    },
    {
        "id": "6dbfbf873096b34d",
        "type": "ui_switch",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Avize 1 Anahtar",
        "tooltip": "",
        "group": "543e0315dcb6b404",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "5ac19e9271d41a1b"
            ]
        ]
    },
    {
        "id": "5ac19e9271d41a1b",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/1/10",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 1",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 630,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4cce9a1e931074f0",
        "type": "knxUltimate",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "topic": "1/2/10",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Avize 1 Feedback",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "6dbfbf873096b34d",
                "adb1e210e7a6bec1"
            ]
        ]
    },
    {
        "id": "adb1e210e7a6bec1",
        "type": "ui_switch",
        "z": "0fac4a1004299801",
        "name": "",
        "label": "Avize 1 Anahtar",
        "tooltip": "",
        "group": "543e0315dcb6b404",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "5ac19e9271d41a1b"
            ]
        ]
    },
    {
        "id": "fa5f3777bc33572a",
        "type": "knxUltimateViewer",
        "z": "0fac4a1004299801",
        "server": "22f77384684a5c2b",
        "name": "KNXViewer",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "f5d19c033d3fd96c"
            ],
            []
        ]
    },
    {
        "id": "f5d19c033d3fd96c",
        "type": "ui_text",
        "z": "0fac4a1004299801",
        "group": "c977213616837f5f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 860,
        "wires": []
    },
    {
        "id": "133a1669768f9de1",
        "type": "ui_button",
        "z": "0fac4a1004299801",
        "name": "",
        "group": "eab0440bee638c40",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "e63e99080a42e4cb"
            ]
        ]
    },
    {
        "id": "eab0440bee638c40",
        "type": "ui_group",
        "name": "Salon",
        "tab": "ba71f8889e6871d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e18797ccc06bab1",
        "type": "ui_group",
        "name": "Oda 1",
        "tab": "ba71f8889e6871d0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22f77384684a5c2b",
        "type": "knxUltimate-config",
        "host": "192.168.1.167",
        "port": "3671",
        "physAddr": "15.15.22",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": false,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "statusDisplayLastUpdate": true,
        "statusDisplayDeviceNameWhenALL": true,
        "statusDisplayDataPoint": false,
        "stopETSImportIfNoDatapoint": "stop",
        "loglevel": "error",
        "name": "KNX Gateway",
        "localEchoInTunneling": true,
        "delaybetweentelegrams": "50",
        "delaybetweentelegramsfurtherdelayREAD": "1",
        "ignoreTelegramsWithRepeatedFlag": false,
        "autoReconnect": true
    },
    {
        "id": "543e0315dcb6b404",
        "type": "ui_group",
        "name": "Koridor",
        "tab": "ba71f8889e6871d0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c977213616837f5f",
        "type": "ui_group",
        "name": "Debug Out",
        "tab": "ba71f8889e6871d0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba71f8889e6871d0",
        "type": "ui_tab",
        "name": "Evim",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]